<h1>About Me</h1>
<p><%= link_to "LinkedIn", "www.linkedin.com/in/rakad/" %> <br><%= link_to "Github", "https://github.com/goodndntwin" %> <br><%= link_to "Twitter", "https://twitter.com/goodndntwin" %></p>
